<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一点礼品注册</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/style.css' %}">
</head>
<body>

<div class="container">
    <div class="reg-login-wrap">
        <img class="logo" src="{% static 'gift_platform_site/images/logo.png' %}">
        <p class="infotolog">已有账号？去<a href="{% url 'gift_platform_site:login' %}">登录</a></p>
    </div>
</div>
<hr class="hrline"/>
<div class="reg-step-div">
    <div class="currentstep">1.选择类型</div>
    <div class="btwsteps"></div>
    <div class="nocurrentstep">2.填写信息</div>
</div>
{#<hr class="hrline2"/>#}
{#<div  class="choosetype"><div>请选择注册类型</div></div>#}
<div class="regtypes">
    <div class="choose1"><div><a href="{% url 'gift_platform_site:reg2' %}?type=1">供应商</a></div></div>
    <div class="choose2"><div><a href="{% url 'gift_platform_site:reg2' %}?type=2">礼品公司</a></div></div>
</div>
<hr class="hrline3"/>
<div class="footer">
    <div class="container">
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-1.png' %}">
                <span>海量选择</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-2.png' %}">
                <span>核心管理</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-3.png' %}">
                <span>一键生成</span>
            </div>
        </div>
    </div>
    <div class="copyright">
            上海简象网络科技有限公司 © 2018   <a href="https://tsm.miit.gov.cn/dxxzsp/" target="_blank" style="color:#999">沪ICP备 18016054号-1</a>
    </div>
</div>
</body>
</html>