{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-登录{% endblock %}
{% block content %}
    {% load static %}
<div class="container">
    <div class="btn-group dynamic-latest-sellout-btn-group">
        <div class="{% if t != '1' %}active{% endif %}">
            <a href="{% url "gift_platform_site:index" %}">最新</a>
        </div>
        <div>
            <span class="split"></span>
        </div>
        <div class="{% if t == '1' %}active{% endif %}">
            <a href="/home?t=1">特惠</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="product-list-wrap">
        {% if products.paginator.count == 0 %}
            <div class="no-data">~~空空如也~~</div>
        {% endif %}
        {% for product in products %}
        <div class="product-list-item">
            <a href="{% url "gift_platform_site:product_details" product_id=product.id %}"><img class="image-cover" src="{{ product.images.first.productimage.url }}" /></a>
            <div class="desc-wrap">
                <div class="name"><a href="{% url "gift_platform_site:product_details" product_id=product.id %}">{{ product.name }}</a></div>
                <div class="price">￥{{ product.productItems.first.price }}</div>
                <div class="company">{{ product.belongs.suppliername }}</div>
            </div>
        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
