{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-登录{% endblock %}
{% block content %}
    {% load static %}
<div class="container">
    <div class="btn-group dynamic-latest-sellout-btn-group">
        <div class="active">
            <a>最新</a>
        </div>
        <div>
            <span class="split"></span>
        </div>
        <div>
            <a>特惠</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="product-list-wrap">
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="product-list-item">
            <img class="image-cover" src="images/demo_cover_image.png" />
            <div class="desc-wrap">
                <div class="name">膳魔师保温杯</div>
                <div class="price">￥88.0</div>
                <div class="company">上海好利友公司</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
