{% extends "share/base_layout_with_search.html" %}
{% load gift_platform_extras %}
{% block title %}一点礼品-登录{% endblock %}
{% block content %}
    {% load static %}
<div class="container">
    <div class="btn-group dynamic-latest-sellout-btn-group">
        <div class="{% if t != '1' %}active{% endif %}">
            <a href="{% url "gift_platform_site:index" %}">全部</a>
        </div>
        <div>
            <span class="split"></span>
        </div>
        <div class="{% if t == '1' %}active{% endif %}">
            {% if request.user.inprivatearea %}
                <a href="/home?t=1">私有</a>
            {% else %}
                <a href="javascript:void(0)" onclick="alert('您尚未开通私有域，请联系客服开通!');">私有</a>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
    <div class="product-list-wrap">
        {% if products.paginator.count == 0 %}
            <div class="no-data">~~空空如也~~</div>
        {% endif %}
        {% for product in products %}
            <div class="product-list-item">
                {% if product.inprivatearea %}
                    <span class="private-tag"></span>
                {% endif %}
                <a href="{% url "gift_platform_site:product_details" product_id=product.id %}"><img class="image-cover" src="{{ product.images.first.productimage.url }}" /></a>
                <div class="desc-wrap">
                    <div class="name"><a href="{% url "gift_platform_site:product_details" product_id=product.id %}">{{ product.name }}</a><a href="javascript:void(0)" product_id={{ product.id }} class="add-cart-btn"></a></div>
                    <div class="price">市场价：￥{{ product.productItems|to_price_output }}</div>
                    <div class="price">供货价：￥{{ product.productItems|to_sell_price_output }}</div>
                    <div class="company">{{ product.belongs.suppliername }}</div>
                </div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
<script>
    (function($){
        $('.add-cart-btn').click(function(){
            $.ajax({
                url: '{% url "gift_platform_site:cart" %}',
                type: 'POST',
                data: {
                    productId: $(this).attr('product_id')
                },
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function() {
                    refreshCart();// 更新方案车
                }
            });
        });
    })(jQuery);
</script>
{% endblock %}
