{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-公告中心{% endblock %}
{% block content %}
    {% load static %}

    <div class="container"  style="min-height: calc(100vh - 503px);">
        <table class="msgcentertable">
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>发布时间</th>
                <th>发布厂家</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {% for item in msgs %}
                <tr>
                    <td>1</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.publishdate|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ item.fromuser }}</td>
                    <td>{% if item.hasread %}已读{% else %}未读{% endif %}</td>
                    <td><a href="{% url 'gift_platform_site:msgdetail' %}?m={{ item.id }}">查看</a></td>
                </tr>
            {% endfor %}

        </table>
        <div class="pagination">
            {% if msgs.has_previous %}
                <span class="page-item">
            <a href="{% url 'gift_platform_site:msgcenter' %}?page={{ msgs.previous_page_number }}">上一页</a>
        </span>
            {% endif %}
            {% for i in pager_array %}
                {% if i == '...' %}
                    <span class="page-item more">
                    ...
                </span>
                {% else %}
                    <span class="page-item {% if i == msgs.number|stringformat:"i" %} current-page {% endif %}">
                    <a href="{% url 'gift_platform_site:msgcenter' %}?page={{ i }}">{{ i }}</a>
                </span>
                {% endif %}
            {% endfor %}
            <span class="page-item">
            {% if msgs.has_next %}
                <a href="{% url 'gift_platform_site:msgcenter' %}?page={{ msgs.next_page_number }}">下一页</a>
            {% endif %}
        </span>
            <div class="jump-to">
                <span>到</span>
                <input type="text" class="jump-to-input"/>
                <span>页</span>
                <a href="#" class="jump-btn">确定</a>
            </div>
        </div>
        <div class="clear"></div>

    </div>


{% endblock %}
