{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-公告中心{% endblock %}
{% block content %}
    {% load static %}

<div class="container">
<table class="msgcentertable">
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>发布时间</th>
        <th>发布厂家</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>最后500件膳魔师水杯</td>
        <td>2018年3月21日</td>
        <td>南通膳魔师</td>
        <td>未读</td>
        <td>查看</td>
    </tr>

</table>

</div>
{% endblock %}
