{% extends 'share/base_layout_usercenter.html' %}
{% block title %}一点礼品-公告中心{% endblock %}
{% block content1 %}
{% load static %}
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
<div class="right-content">
    <div class="content">
        <form id="new-supplier-form" action="{% url 'gift_platform_site:edit_private_suppliers' supplier_id=supplier_info.userid.id %}" method="put">
            {% csrf_token %}
            <span class="content-header">
                修改供应商基本信息
            </span>
            <div class="form-item">
                <label>店铺名：</label>
                <input name="supplier_name" placeholder="请输入店铺名" value="{{ supplier_info.suppliername }}" />
            </div>
            <div class="form-item">
                <label>联系电话：</label>
                <input name="tel" placeholder="请输入联系电话"  value="{{ supplier_info.tel }}"/>
            </div>
            <div class="form-item">
                <label>QQ：</label>
                <input name="qq" placeholder="请输入联系QQ" value="{{ supplier_info.qq }}"/>
            </div>
            <a class="save-btn" href="javascript:void(0)" id="ok-btn">保存</a>
        </form>
    </div>
    <script>
        (function($){
            $.validator.addMethod('chinaTel', function(value){
                if (value !== '') {
                    return /^1[3|4|5|7|8][0-9]{9}$/.test(value)
                } else {
                    return true;
                }
            }, '请输入正确的手机号码');
            $('#new-supplier-form').validate({
                rules: {
                    tel: {
                        chinaTel: true
                    }
                },
                messages: {
                }
            });
            $('#ok-btn').click(function(){
                $('#new-supplier-form').submit();
            })
        })(jQuery);
    </script>
</div>

{% endblock content1 %}