{% extends 'share/base_layout_usercenter.html' %}
{% block title %}我的资料{% endblock %}



{% block content1 %}
    {% load static %}
<form method="post"   action="{% url 'gift_platform_site:myaccount' %}" id="myaccountform" >
    <div class="right-content">
        <div class="content">
            <span class="content-header">
                我的资料
            </span>
            <span class="tel">手机：{{ currentuser.mobile }}</span>
            <div class="group">
                <div class="form-item mobile">
                    <label>用户名：</label>
                    <input name="username" placeholder="请输入用户名" value="{{ currentuser.username }}" />
                </div>
                <div class="form-item sex">
                    <label>性别：</label>
                    <div class="drop-down1">
                        <select name="gender" class="selected" value="{{ gender }}">
                            <option value ="1" {% ifequal gender 1 %}selected{% endifequal %}>男 ♂</option>
                            <option  value ="0" {% ifequal gender 0 %}selected{% endifequal %}>女 ♀</option>
                        </select>
{#                        <span class="split"></span>#}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-item email">
                <label>邮箱：</label>
                <input name="email" placeholder="请输入邮箱" value="{{ currentuser.email }}" />
            </div>
            <a class="save-btn" href="javascript:void(0)" onclick="document.getElementById('myaccountform').submit()">保存</a>
        </div>
    </div>
        {% csrf_token %}
    </form>
{% endblock %}




