{% extends "share/base_layout_usercenter.html" %}
{% block title %}一点礼品-公告中心{% endblock %}
{% block content1 %}
    {% load static %}
    {% if messages %}
        <script>
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        </script>
    {% endif %}
<div class="right-content">
    <div class="content">
<table class="msgcentertable">
    <tr>
        <th>序号</th>
        <th>供应商名称</th>
        <th>状态</th>
        <th>最后上线时间</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    {% for supplier in suppliers %}
    <tr>
        <td>{{ supplier.id }}</td>
        <td>{{ supplier.supplier.suppliername }}</td>
        <td>{% if supplier.is_active %}正常{% else %}禁用{% endif %}</td>
        <td>{{ supplier.last_login|date:"Y-m-d" }}</td>
        <td>{{ supplier.date_joined|date:"Y-m-d" }}</td>
        <td>
            <a href="{% url "gift_platform_site:edit_private_suppliers" supplier_id=supplier.id %}">编辑</a>
        </td>
    </tr>
    {% endfor %}
</table>
    <div class="pagination">
        {% if suppliers.has_previous %}
            <span class="page-item">
            <a href="{% url 'gift_platform_site:private_suppliers' %}?page={{ suppliers.previous_page_number }}">上一页</a>
        </span>
        {% endif %}
        {% for i in pager_array %}
            {% if i is '...' %}
                <span class="page-item more">
                    ...
                </span>
            {% else %}
                <span class="page-item {% if i == suppliers.number|stringformat:"i" %} current-page {% endif %}">
                    <a href="{% url 'gift_platform_site:private_suppliers' %}?page={{ i }}">{{ i }}</a>
                </span>
            {% endif %}
        {% endfor %}
        <span class="page-item">
            {% if suppliers.has_next %}
                <a href="{% url 'gift_platform_site:private_suppliers' %}?page={{ suppliers.next_page_number }}">下一页</a>
            {% endif %}
        </span>
    </div>
</div>
</div>
{% endblock %}