{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-所有品牌{% endblock %}
{% block content %}
<div class="container brand-list"  style="min-height: calc(100vh - 503px);">
    {% for brand in brands_list %}
    <div class="brand-list-item">
        <div class="brand-logo-wrap">
            <img src="{{ brand.logo.url }}" />
        </div>
        <a class="brand-name" href="{% url 'gift_platform_site:brand_product_list' brand_id=brand.id %}">{{ brand.name }}</a>
    </div>
    {% endfor %}

    <div class="clear"></div>
</div>
{% endblock %}