{% extends "share/base_layout_with_search.html" %}
{% block title %}一点礼品-所有品牌{% endblock %}
{% block content %}
<div class="container">
    <div class="bread-crumb">
        <a href="/home">首页</a>>商品详情</a>
    </div>
    <div class="product-details-wrap" id="product-details">
        <div class="product-details-header">
            <div class="product-images">
                <div class="preview">
                    <img src="{{ main_images.0.productimage.url }}">
                </div>
                <div class="product-image-list">
                    <ul>
                        {% for img in main_images %}
                        <li onclick="changePreview('{{ img.productimage.url }}')">
                            <img src="{{ img.productimage.url }}">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="product-title">
                <h1>{{ product.name }}</h1>
                <span>超强保温升级版， 316不锈钢</span>
                <div class="price">
                    <span>单价</span>
                    {% if start_price == end_price %}
                        <span>￥</span><span>{{ start_price }}</span>
                    {% else %}
                    <span>￥</span><span>{{ start_price }} - {{ end_price }}</span>
                    {% endif %}
                </div>
                <div class="supplier">
                    <span>商家</span>
                    <span>{{ supplier_name }}</span>
                </div>
            {% for key,value in attribute_values.items %}
                <div class="spec-group">
                    <span>{{ key }}</span>
                    <ul class="spec-items">
                        {% for v in value %}
                        <li data-attribute-name="{{ key }}" data-attribute-value="{{ v }}">
                            <a href="javascript:void(0)" class="">{{ v }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                <div class="clear"></div>
                </div>
            {% endfor %}
                <a class="add-cart-btn">
                    加入方案
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="product-details">
            <div class="product-details-header">
                产品简介
            </div>
            <div class="product-details-content">
                {{ product.description | safe }}
            </div>
        </div>
    </div>
</div>
<script>

    (function($){
    })(jQuery);
    var changePreview = function(newUrl) {
        $('.preview img').attr('src', newUrl);
    };
    (function($){
        var productId = {{ product.id }}; // 获取商品id
        var productItems = {{ product_items_json | safe }}; // 获取所有产品sku的json信息
        var selectedAttributes = {};
        var selectedSkuId;
        var checkHasSelectedProductItem = function(skus, selectedSkuInfo) {
            for(var i in skus){
                var sku = skus[i];
                var temp = true;
                for(var key in sku.attributes) {
                    if (selectedSkuInfo[key] === undefined) {
                        temp = false;
                        break;
                    } else {
                        if (selectedSkuInfo[key] !== sku.attributes[key]) {
                            temp = false;
                            break;
                        }
                    }
                }
                if (temp) {
                    console.log(sku)
                    return sku;
                }
            }
            return null;
        };
        $('.spec-group ul li').click(function(e) {
            var attributeName = $(this).attr('data-attribute-name');
            var attributeValue = $(this).attr('data-attribute-value');
            $(this).parent().find('a').removeClass('select');
            $(this).children('a').addClass('select');
            selectedAttributes[attributeName] = attributeValue;

            var hasSelectedSku = checkHasSelectedProductItem(productItems, selectedAttributes);
            if (hasSelectedSku !== null) {
                $('.price span:nth-child(3)').html(hasSelectedSku.price);//
                selectedSkuId = hasSelectedSku.id;
                $('.preview img').attr('src', hasSelectedSku.image);
            }
        });
        $('.add-cart-btn').click(function(){
            $.ajax({
                url: '{% url "gift_platform_site:cart" %}',
                type: 'POST',
                data: {
                    productId: productId
                },
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function() {
                    refreshCart();// 更新方案车
                }
            });
        });
    })(jQuery);
</script>
{% endblock %}