{% extends "share/base_layout_with_search.html" %}
{%  load static %}
{% load gift_platform_extras %}
{% block title %}一点礼品-{{ supplier.suppliername }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="bread-crumb">
            <a href="/">首页</a>><a href="javascript:void(0)">{{ supplier.suppliername }}</a>
        </div>
            <div class="supplier-product-list">
                <div class="supplier-item-header">
                    <div class="name">
                        <div>{{ supplier.suppliername }}</div>
                        <!--<a class="subscribe-btn">订阅</a>-->
                    </div>
                    <div class="social-btns-wrap">
                        {% if supplier.tel %}
                        <div class="social-btn">
                            <a href="javascript:void(0)" onclick="$('.tel-container').slideToggle()">
                                <img src="{% static 'gift_platform_site/images/mobile.png' %}">
                                <span>手机</span>
                            </a>
                        </div>
                        <div class="social-btn tel-container" style="display: none">
                            <span>{{ supplier.tel }}</span>
                        </div>
                        {% endif %}
                        {% if supplier.qq %}
                        <div class="social-btn">
                            <a href="javascript:void(0)" onclick="$('.qq-container').slideToggle()">
                                <img src="{% static 'gift_platform_site/images/qq.png' %}">
                                <span>QQ</span>
                            </a>
                        </div>
                        <div class="social-btn qq-container" style="display: none">
                            <span>{{ supplier.qq }}</span>
                        </div>
                        {% endif %}
                        {% if supplier.wechat_qr_code_img %}
                        <div class="social-btn">
                            <a href="javascript:void(0)" onclick="$('.qr-container').fadeToggle()">
                                <img src="{% static 'gift_platform_site/images/wechat.png' %}">
                                <span>微信</span>
                            </a>
                            <div class="arrow_box qr-container" style="display: none;">
                                <img class="qr-img" src="{{ supplier.wechat_qr_code_img.url }}" />
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="product-list-wrap">
                        {% for product in products %}
                            {% if product.isdelete == False %}
                                <div class="product-list-item">
                                    {% if product.inprivatearea %}
                                        <span class="private-tag"></span>
                                    {% endif %}
                                    <a href="{% url "gift_platform_site:product_details" product_id=product.id %}"><img class="image-cover" src="{{ product.images.first.productimage.url }}" /></a>
                                    <div class="desc-wrap">
                                        <div class="name"><a href="{% url "gift_platform_site:product_details" product_id=product.id %}">{{ product.name }}</a></div>
                                        <div class="price">￥{{ product.productItems|to_price_output }}</div>
                                        <div class="price">供货价：￥{{ product.productItems|to_sell_price_output }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        <div class="pagination">
            {% if products.has_previous %}
                <span class="page-item">
            <a href="{% url 'gift_platform_site:supplier_products' supplier_id=supplier.id %}?page={{ suppliers.previous_page_number }}&q={{ search_query }}">上一页</a>
        </span>
            {% endif %}
            {% for i in pager_array %}
                {% if i == '...' %}
                    <span class="page-item more">
                    ...
                </span>
                {% else %}
                    <span class="page-item {% if i == products.number|stringformat:"i" %} current-page {% endif %}">
                    <a href="{% url 'gift_platform_site:supplier_products'  supplier_id=supplier.id  %}?page={{ i }}">{{ i }}</a>
                </span>
                {% endif %}
            {% endfor %}
            <span class="page-item">
            {% if suppliers.has_next %}
                <a href="{% url 'gift_platform_site:supplier_products'  supplier_id=supplier.id %}?page={{ products.next_page_number }}">下一页</a>
            {% endif %}
        </span>
            <div class="jump-to">
                <span>到</span>
                <input type="text" class="jump-to-input" />
                <span>页</span>
                <a href="javascript:void(0)" class="jump-btn">确定</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script>
        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
          }
          else {
            return uri + separator + key + "=" + value;
          }
        }
        $('.jump-btn').click(function () {
            var nextUrl = updateQueryStringParameter(window.location.href, 'page', parseInt($('.jump-to-input').val()))
            window.location.href = nextUrl;
        });
    </script>
{% endblock %}

