<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}一点礼品{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/js/jquery.mCustomScrollbar.min.css' %}">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'gift_platform_site/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>
<div class="header">
    <div class="content-wrap">
        <span class="welcome" style="color: #B19B70"><a href="{% url 'gift_platform_site:home' %}">首页</a></span>
        <div class="button-wrap">
            <a href="{% url 'gift_platform_site:myaccount' %}">{{ request.user.username }}</a>
            <a class="acls" href="{% url 'gift_platform_site:sysinfo' %}">系统消息</a>
            <form hidden method="post" id="logoutform" action="{% url 'gift_platform_site:logoutv' %}">
                <input name="logoutin" value="{{ request.user.username }}"/>
                {% csrf_token %}
            </form>
            <a href="javascript:void(0)" onclick="document.getElementById('logoutform').submit()">退出</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="search-head-wrap">
        <a href="/home"><img class="logo" src="{%  static 'gift_platform_site/images/logo.png' %}"></a>
        <div class="search-wrap">
            <div class="search">
                <div class="tab">
                    <span class="tab-item select" id="product-search-tab">商品</span>
                    <span class="tab-item" id="supplier-search-tab">厂家</span>
                </div>
                <input type="text" id="search-content-input">
                <a class="search-btn" id="search-btn">
                    搜索
                </a>
            </div>
            <div class="cart-wrap">
                <div class="cart">
                    <img src="{% static 'gift_platform_site/images/cart.png' %}"/>
                    <span class="product-count">
                        0
                    </span>
                </div>
                <span class="split"></span>
                <div class="cart-info drop-down">
                    您没有礼品方案
                </div>
                <div class="cart-content" id="cart" style="display: none">
                    <div class="cart-content-header">
                        <span>商品</span>
                        <a>删除</a>
                    </div>
                    <div class="product-list">
                        <ul>
                        </ul>
                    </div>
                    <div class="cart-footer">
                        <span>0个产品</span>
                        <a href="javascript:void(0);" id="export-ppt-btn" class="out-btn">导出</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


{#<div class="nav">#}
{#    <div class="nav-wrap">#}
{#        <a {% ifequal request.path '/home/' %}class="active" {% endifequal %}#}
{#           href="{% url 'gift_platform_site:home' %}">最新动态</a>#}
{#        <a {% ifequal request.path '/jxzt/' %}class="active" {% endifequal %} href="#">精选专题</a>#}
{#        <a {% ifequal request.path '/product/categories/' %}class="active" {% endifequal %} href="/product/categories">产品分类</a>#}
{#        <a {% ifequal request.path '/product/brands/' %}class="active" {% endifequal %} href="/product/brands">品牌专区</a>#}
{#        <a {% ifequal request.path '/product/onesend' %}class="active" {% endifequal %} href="/product/onesend">一件代发</a>#}
{#        <a {% ifequal request.path '/aboutus/' %}class="active" {% endifequal %} href="#">关于我们</a>#}
{#        <a {% if currentpage == 'msgcenter' %}class="active"#}
{#           {% elif currentpage == 'msgdetail' %}class="active"{% endif %}#}
{#           href="{% url 'gift_platform_site:msgcenter' %}" >公告中心</a>#}
{#        <div class="clear"></div>#}
{#    </div>#}
{#</div>#}
{% block content %}
{% endblock %}
<div class="footer">
    <div class="container">
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_1.png' %}">
                <span>物流送货上门</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_2.png' %}">
                <span>正规渠道进货</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_3.png' %}">
                <span>商品品质保证</span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div>
            <p>上海简象网络科技有限公司 © 2018   沪ICP备 18016054号-1</p>
        </div>
    </div>
</div>
<script>
    var initCart = function () {
        var generateCartListHtmlStr = function (imageUrl, name, productId, productSkuId) {
            return '<li><img src="' + imageUrl + '"/> <span class="product-name">' + name + '</span> <a productSkuId="' + productSkuId + '" productId="' + productId + '" class="del-btn"> </a> </li>';
        }
        $.get('{% url "gift_platform_site:cart" %}', function (response) {
            $('.cart-content .product-list ul').empty();
            if (response.length === 0) {
                $('.cart-info').text('您没有礼品方案');
                $('.cart-content .product-list ul').html('<div class="no-data">暂无商品</div>');
            } else {
                $('.cart-info').text('包含' + response.length + '个商品');
            }
            for (var i in response) { // 开始初始化相关商品信息
                var itemHtml = generateCartListHtmlStr(response[i].mainImage, response[i].productName, response[i].productId, response[i].productSkuId);
                $('.cart-content .product-list ul').append(itemHtml)
                console.log(itemHtml)
            }
            $('.cart-footer span').text(response.length + '个商品');
            $('.product-count').text(response.length);
        });
        $(document).off().on('click', '#cart .del-btn', function () {
            if (confirm('确认删除此商品?')) {
                var productId = $(this).attr('productId');
                $.ajax({
                    url: '/cart/' + productId,
                    type: 'DELETE',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (e) {
                        initCart();
                    }
                });
            }
        });
        $('#export-ppt-btn').click(function () {
            if (confirm('保存PPT至本地?')) {
                $.ajax({
                    url: '{% url 'gift_platform_site:export_ppt' %}',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (data) {
                        refreshCart();
                        //window.location.href = data.file_url;
                        window.open(data.file_url);
                    }
                });
            }
        });
        $('.product-list').mCustomScrollbar({
            theme: 'dark'
        });
    };

    var refreshCart = function () {
        var generateCartListHtmlStr = function (imageUrl, name, productId, productSkuId) {
            return '<li><img src="' + imageUrl + '"/> <span class="product-name">' + name + '</span> <a productSkuId="' + productSkuId + '" productId="' + productId + '" class="del-btn"> </a> </li>';
        }
        $.get('{% url "gift_platform_site:cart" %}', function (response) {
            $('.cart-content .product-list ul').empty();
            if (response.length === 0) {
                $('.cart-info').text('您没有礼品方案');
                $('.cart-content .product-list ul').html('<div class="no-data">暂无商品</div>');
            } else {
                $('.cart-info').text('包含' + response.length + '个商品');
            }
            for (var i in response) { // 开始初始化相关商品信息
                var itemHtml = generateCartListHtmlStr(response[i].mainImage, response[i].productName, response[i].productId, response[i].productSkuId);
                $('.cart-content .product-list ul').append(itemHtml)
            }
            $('.cart-footer span').text(response.length + '个商品');
            $('.product-count').text(response.length);
        });
    };

    $(document).ready(function () {
        // tab 切换
        (function ($) {
            var searchType = 0;
            $('#product-search-tab').click(function () {
                searchType = 0;
                $('#supplier-search-tab').removeClass('select');
                $(this).addClass('select');
            });
            $('#supplier-search-tab').click(function () {
                searchType = 1;
                $('#product-search-tab').removeClass('select');
                $(this).addClass('select');
            });
            $('#search-btn').click(function () {
                var queryContent = $('#search-content-input').val();
                if (searchType === 0) {
                    window.location.href = '{% url 'gift_platform_site:search_products' %}?q=' + queryContent;// 商品检索
                } else {
                    window.location.href = '{% url 'gift_platform_site:search_supplier' %}?q=' + queryContent;// 供应商检索
                }
            });
        })(jQuery);

        (function ($) {
            $('.cart-wrap').click(function() {
                $('.cart-content').toggle();
            });
        })(jQuery);

        initCart();
    })
</script>
<style>
    .cart-content .product-list {
        max-height: 200px;
    }
    #mCSB_1_container {
        margin-right: 10px !important;
    }
    #mCSB_1_scrollbar_vertical {
        right: -6px;
    }
</style>
</body>
</html>
