<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}一点礼品{% endblock %}</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/style.css' %}">
</head>
<body>
<div class="container">
    <div class="reg-login-wrap">
        <img class="logo" src="{%  static 'gift_platform_site/images/logo.png' %}">

    </div>
</div>
<hr class="hrline"/>
{% block content %}
{% endblock %}
<div class="footer1">
    <div class="container">
        <div class="item-wrap">
            <div class="footer-icon-group1">
                <img src="{% static 'gift_platform_site/images/footer_icon_1t.png' %}">
                <span>物流送货上门</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group1">
                <img src="{% static 'gift_platform_site/images/footer_icon_2t.png' %}">
                <span>正规渠道进货</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group1">
                <img src="{% static 'gift_platform_site/images/footer_icon_3t.png' %}">
                <span>商品品质保证</span>
            </div>
        </div>
    </div>
    <div class="copyright1">
        <div>
            <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'gift_platform_site:protocol' %}">帮助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">售后服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">友情链接</a>
        </div>
        <div>
            <p>一点公司版权所有 © 1997-2018   沪ICP备 18016054号-1</p>
        </div>
    </div>
</div>
</body>
</html>
