<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}一点礼品{% endblock %}</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/style.css' %}">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <div class="content-wrap">
        <span class="welcome">Hi，欢迎来到一点礼品公司！^o^</span>
        <div class="button-wrap">
            <a href="{% url 'gift_platform_site:myaccount' %}">{{ request.user.username }}</a>
            <a class="acls" href="{% url 'gift_platform_site:sysinfo' %}">系统消息</a>
            <form hidden method="post" id="logoutform" action="{% url 'gift_platform_site:logoutv'%}">
                <input name="logoutin" value="{{ request.user.username }}"/>
                {% csrf_token %}
            </form>
            <a href="javascript:void(0)" onclick="document.getElementById('logoutform').submit()">退出</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="search-head-wrap">
        <img class="logo" src="{% static "gift_platform_site/images/logo.png" %}">
        <div class="search-wrap">
            <div class="search">
                <div class="tab">
                    <span class="tab-item select" id="product-search-tab">商品</span>
                    <span class="tab-item" id="supplier-search-tab">厂家</span>
                </div>
                <input type="text" id="search-content-input">
                <a class="search-btn" id="search-btn">
                    搜索
                </a>
            </div>
            <div class="cart-wrap">
                <div class="cart">
                    <img src="{% static 'gift_platform_site/images/cart.png' %}" />
                    <span class="product-count">
                0
            </span>
                </div>
                <span class="split"></span>
                <div class="cart-info drop-down">
                    您没有礼品方案
                </div>
                <div class="cart-content">
                    <div class="cart-content-header">
                        <span>商品</span>
                        <a>删除</a>
                    </div>
                    <div class="product-list">
                        <ul>
                            <li>
                                <img src="images/demo_cover_image.png"/>
                                <span class="product-name">商品名称商品</span>
                                <a class="del-btn">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-footer">
                        <span>3个产品</span>
                        <a href="#" class="out-btn">导出</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<div class="nav">
    <div class="nav-wrap">
        <a {% ifequal request.path '/home/' %}class="active" {% endifequal %} href="{% url 'gift_platform_site:home' %}">最新动态</a>
        <a {% ifequal request.path '/jxzt/' %}class="active" {% endifequal %} href="#">精选专题</a>
        <a {% ifequal request.path '/product/categories/' %}class="active" {% endifequal %} href="#">产品分类</a>
        <a {% ifequal request.path '/product/brands/' %}class="active" {% endifequal %} href="#">品牌专区</a>
        <a {% ifequal request.path '/yjdf/' %}class="active" {% endifequal %} href="#">一件代发</a>
        <a {% ifequal request.path '/aboutus/' %}class="active" {% endifequal %} href="#">关于我们</a>
        <a {% ifequal request.path '/msgcenter/' %}class="active" {% endifequal %} href="{% url 'gift_platform_site:msgcenter' %}">公告中心</a>
        <div class="clear"></div>
    </div>
</div>
{% block content %}
{% endblock %}
<div class="footer">
    <div class="container">
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_1.png' %}">
                <span>物流送货上门</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_2.png' %}">
                <span>正规渠道进货</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/footer_icon_3.png' %}">
                <span>商品品质保证</span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div>
            <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">售后服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">友情链接</a>
        </div>
        <div>
            <p>一点公司版权所有 © 1997-2018   食品经营许可证：JY133****0111719</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // tab 切换
        (function($){
            var searchType = 0;
            $('#product-search-tab').click(function(){
                searchType = 0;
                $('#supplier-search-tab').removeClass('select');
                $(this).addClass('select');
            });
            $('#supplier-search-tab').click(function(){
                searchType = 1;
                $('#product-search-tab').removeClass('select');
                $(this).addClass('select');
            });
            $('#search-btn').click(function(){
                var queryContent = $('#search-content-input').val();
                if (searchType === 0) {
                    window.location.href = '{% url 'gift_platform_site:search_products' %}?q=' + queryContent;// 商品检索
                } else {
                    window.location.href = '{% url 'gift_platform_site:search_supplier' %}?q=' + queryContent;// 供应商检索
                }
            });
        })(jQuery);

    })
</script>
</body>
</html>
