<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}一点礼品{% endblock %}</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gift_platform_site/style.css' %}">
</head>
<body>
<div class="container">
    <div class="reg-login-wrap">
        <a href="/home"><img class="logo" src="{%  static 'gift_platform_site/images/logo_index.png' %}" style="height: 55px;width:178px;"></a>
        <div class="tell">400-679-8289</div>
    </div>
</div>
<hr class="hrline"/>
{% block content %}
{% endblock %}
<div class="footer" style="position:absolute;width:100%;bottom:0px;">
    <div class="container">
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-1.png' %}">
                <span>海量选择</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-2.png' %}">
                <span>核心管理</span>
            </div>
        </div>
        <div class="item-wrap">
            <div class="footer-icon-group">
                <img src="{% static 'gift_platform_site/images/f-ico-3.png' %}">
                <span>一键生成</span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div>
            <p>上海简象网络科技有限公司 © 2018   沪ICP备 18016054号-1</p>
        </div>
    </div>
</div>
</body>
</html>
