{% extends 'share/base_layout_with_search.html' %}
{% block title %}我的资料{% endblock %}

{% block content %}
{% load static %}
<div class="container admin">
    <div class="left-nav">
        <div class="category">
            <span class="category-header">账号管理</span>
            <a {% ifequal request.path '/usercenter/myaccount' %}class="nav-item select" {% else %}class="nav-item"{% endifequal %}   href="{% url 'gift_platform_site:myaccount' %}">我的资料</a>
            <a {% ifequal request.path '/usercenter/mpwd' %}class="nav-item select"{% else %}class="nav-item"{% endifequal %} href="{% url 'gift_platform_site:modifypwd' %}">修改密码</a>
            <a {% ifequal request.path '/usercenter/sysinfo' %}class="nav-item select"{% else %}class="nav-item" {% endifequal %} href="{% url 'gift_platform_site:sysinfo' %}">消息中心</a>
        </div>
        <div class="category">
            <span class="category-header">私有域管理</span>
            <a class="{% ifequal request.path '/usercenter/privatearea/suppliers' %}select{% endifequal %} nav-item">供应商管理</a>
        </div>
    </div>
{% block content1 %}

{% endblock %}
    <div class="clear"></div>
</div>

{% endblock %}
